######################################################
# for mvn
regexp=WARNING|warning|Warning|WARN
colours=bold yellow
count=once
-
regexp=ERROR|error|Error
colours=bold red
count=once
-
regexp=INFO|info|Info|starting|Starting
colours=bold white
-
# Passed
regexp=SUCCESS|success|Success
colours=bold green
count=stop
-
regexp=.* BUILD SUCCESS
colours=bold green
count=stop
-
# Failed
regexp=failed|FAILED|Failed
colours=bold red
count=stop
-
regexp=^Tests run:.*
colours=bold white
count=once
-
regexp=^.*-------------------.*$
colours=bold white
count=once
