#row delimeter when using \G key
regexp=[*]+.+[*]+
count=stop
colours=white
-
#table borders
regexp=[+\-]+[+\-]|[|]
colours=bold red
-
#default word color
regexp=[\w]+
colours=bold green
-
#data in ( ) and ' '
regexp=\([\w\d,']+\)
colours=white
-
#numeric
regexp=\s[\d\.]+\s
colours=bold yellow
-
#column names when using \G key
regexp=\w+:
colours=white
-
#date
regexp=\d{4}-\d{2}-\d{2}\s\d{2}:\d{2}:\d{2}
colours=bold cyan
-
#IP
regexp=(\d{1,3}\.){3}\d{1,3}(:\d{1,5})?
colours=bold cyan
-
#schema
regexp=`\w+`
colours=bold yellow
-
#email
regexp=[\w\.\-_]+@[\w\.\-_]+
colours=bold magenta
